<!DOCTYPE html>
<html>
    <body>
        <div class="agendamento-container">
            <h1>Novo Agendamento</h1>
            <label>Preencha os dados para cadastrar um novo agendamento</label>

            <form action="">
                <h3>Dados do cliente</h3>
                <div class="grid-container">
                    <div>
                        <label>Nome completo *</label>
                        <input type="text" placeholder="Digite o nome do cliente">
                    </div>
                    <div>
                        <label>Telefone *</label>
                        <input type="tel" placeholder="(00) 00000-0000">
                    </div>
                </div>
                
            </form>
        </div>
    </body>
</html>

